#article-title {
    font-size: 70px;
    text-align: center;
    color: #E3E0F3;
}

#article-date {
    font-size: 20px;
}

#article-author {
    font-size: 20px;
}

.article-details {
    font: 1em Montserrat;
    font-style: italic;
    color: #E3E0F3;
    margin-left: 30px;
    margin-right: 30px;
    display: flex;
    justify-content: space-between;
    padding-top: 30px;
}

#article-sub-head {
    background-color: #555363;
    color: #E3E0F3;
    padding-bottom: 15px;
    align-content: center;
    left: 50%;
}

#article-image {
    display: flex;
    padding-left: 50%;
    align-self: center;
}

#article-img-caption,
#article-subtitle {
    display: flex;
    text-align: center;
    /* padding-left: 250px; */
}

.article-head {
    background-color: black;
    padding-bottom: 15px;
}
