.player-grid {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-auto-rows: 50px;
  justify-content: center;
  align-items: center;
  justify-items: center;
  color: #014aa4;
  background-color: #f0ebeb;
  font-weight: bold;
}
